openapi: 3.1.0
info:
  title: nxt API
  version: 1.0.0
  description: Create and manage nxt tasks and personal context.
servers:
  - url: https://app.nxt.do/api/public/v1
security:
  - bearerAuth: []
tags:
  - name: Tasks
  - name: Contexts
paths:
  /tasks:
    get:
      tags: [Tasks]
      summary: List tasks
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, completed, deleted, all]
            default: active
      responses:
        '200':
          description: A page of tasks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags: [Tasks]
      summary: Create tasks from natural language
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key, no longer than 255 characters, used to safely retry creation.
          schema:
            type: string
            maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [task]
              properties:
                task:
                  type: object
                  required: [text]
                  properties:
                    text:
                      type: string
                      minLength: 1
      responses:
        '200':
          description: An earlier request with this idempotency key has already finished.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskRequestEnvelope'
        '202':
          description: Task processing was queued. Poll the URL in the Location header.
          headers:
            Location:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskRequestEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: The idempotency key was previously used with different input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
  /tasks/{taskId}:
    parameters:
      - $ref: '#/components/parameters/TaskId'
    get:
      tags: [Tasks]
      summary: Get a task
      responses:
        '200':
          description: The task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Tasks]
      summary: Update a task
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [task]
              properties:
                task:
                  $ref: '#/components/schemas/TaskUpdate'
      responses:
        '200':
          description: The updated task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    delete:
      tags: [Tasks]
      summary: Soft delete a task
      responses:
        '204':
          description: The task was deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /task_requests/{taskRequestId}:
    get:
      tags: [Tasks]
      summary: Get asynchronous task creation status
      parameters:
        - name: taskRequestId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Current processing status. Active requests include their tasks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskRequestEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /next-task:
    get:
      tags: [Tasks]
      summary: Get the next recommended task
      responses:
        '200':
          description: The current recommendation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationEnvelope'
        '202':
          description: A recommendation is being calculated.
          headers:
            Retry-After:
              schema:
                type: integer
                example: 2
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: processing
        '204':
          description: No task is currently available.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /contexts:
    get:
      tags: [Contexts]
      summary: List context
      responses:
        '200':
          description: The user's context.
          content:
            application/json:
              schema:
                type: object
                properties:
                  contexts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Context'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Contexts]
      summary: Add context
      requestBody:
        $ref: '#/components/requestBodies/ContextInput'
      responses:
        '201':
          description: The context was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /contexts/{contextId}:
    parameters:
      - $ref: '#/components/parameters/ContextId'
    get:
      tags: [Contexts]
      summary: Get context
      responses:
        '200':
          description: The context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Contexts]
      summary: Update context
      requestBody:
        $ref: '#/components/requestBodies/ContextInput'
      responses:
        '200':
          description: The updated context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    delete:
      tags: [Contexts]
      summary: Delete context
      responses:
        '204':
          description: The context was deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: nxt_live token
  parameters:
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSize:
      name: page_size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50
    TaskId:
      name: taskId
      in: path
      required: true
      schema:
        type: integer
        format: int64
    ContextId:
      name: contextId
      in: path
      required: true
      schema:
        type: integer
        format: int64
  requestBodies:
    ContextInput:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [context]
            properties:
              context:
                type: object
                required: [text]
                properties:
                  text:
                    type: string
                    minLength: 1
                    maxLength: 1000
  responses:
    BadRequest:
      description: The request is malformed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Unauthorized:
      description: A valid Bearer token is required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    NotFound:
      description: The resource does not exist or belongs to another user.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    ValidationFailed:
      description: Validation failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    RateLimited:
      description: The per-token request limit was exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
  schemas:
    Task:
      type: object
      required: [id, text, status, created_at, updated_at]
      properties:
        id:
          type: integer
          format: int64
        text:
          type: string
        notes:
          type: [string, 'null']
        start_date:
          type: [string, 'null']
          format: date
        start_time:
          type: [string, 'null']
          example: '09:00'
        due_date:
          type: [string, 'null']
          format: date
        due_time:
          type: [string, 'null']
          example: '17:00'
        status:
          type: string
          enum: [pending, skipped, completed, deleted]
        repeat:
          type: [string, 'null']
          description: An iCalendar recurrence rule when the task repeats.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    TaskUpdate:
      type: object
      properties:
        text:
          type: string
          minLength: 1
        notes:
          type: [string, 'null']
        start_date:
          type: [string, 'null']
          format: date
        start_time:
          type: [string, 'null']
          pattern: '^([01]\\d|2[0-3]):[0-5]\\d$'
        due_date:
          type: [string, 'null']
          format: date
        due_time:
          type: [string, 'null']
          pattern: '^([01]\\d|2[0-3]):[0-5]\\d$'
    TaskEnvelope:
      type: object
      properties:
        task:
          $ref: '#/components/schemas/Task'
    TaskList:
      type: object
      properties:
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/Task'
        meta:
          type: object
          properties:
            page:
              type: integer
            page_size:
              type: integer
            total_count:
              type: integer
            total_pages:
              type: integer
    TaskRequest:
      type: object
      required: [id, status, created_at, updated_at]
      properties:
        id:
          type: integer
          format: int64
        status:
          type: string
          enum: [draft, processing, active, failed]
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/Task'
        error:
          $ref: '#/components/schemas/Error'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    TaskRequestEnvelope:
      type: object
      properties:
        task_request:
          $ref: '#/components/schemas/TaskRequest'
    RecommendationEnvelope:
      type: object
      properties:
        status:
          const: active
        recommendation:
          type: object
          properties:
            id:
              type: integer
              format: int64
            reason:
              type: [string, 'null']
            task:
              $ref: '#/components/schemas/Task'
    Context:
      type: object
      required: [id, text, created_at, updated_at]
      properties:
        id:
          type: integer
          format: int64
        text:
          type: string
          maxLength: 1000
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ContextEnvelope:
      type: object
      properties:
        context:
          $ref: '#/components/schemas/Context'
    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    ErrorEnvelope:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
